.grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 100%;
}

.grid-item {
    min-height: 2rem; 
    width: 100%; 
    border-radius: 10px;
    padding: 8px;
}

.item1{
    grid-column: 1;
    grid-row: 1;
}

.item2{
    grid-column: 2;
    grid-row: 1;

}

.item3{
    grid-column: 1;
    grid-row: 2;
}

.item4{
    grid-column: 2;
    grid-row: 2;

}

.item5{
    grid-column: 1 / span 2;
    grid-row: 3;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.botao{
    margin-top: 10px;
    border-radius: 4px;
    background-color: #f4511e;
    color: #FFFFFF;
    border: none;
    padding: 10px;
}